<div class="container">
  <div class="s7 col">
    <h2><em>About A&amp;M Bread Express</em></h2>

    <p>
    	A&amp;M is a bread/pastry company that specializes in getting you your order as soon as possible. Browse through our available products and place your order today! Before you know it, you can be munching down on some delicious bread.
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
</div>