<div class = "container">
	<div class="small-7 columns" align = "center">
		<h2>Contact Bread Express</h2>
		<p class="supertiny">&nbsp;</p>
		<table cellpadding="3" class="centered">
			<tr>
				<td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
				<td>Jacqueline Pan</td>
			</tr>
			<tr>
				<td>Email:</td>
				<td>
				<%= mail_to("jacquelp@andrew.cmu.edu", "jacquelp@andrew.cmu.edu", :encode => "javascript") %> 
				</td>
			</tr>
			<tr>
				<td>Phone:</td>
				<td>551-795-2473</td>
			</tr>
		</table>

		<p class="note"><br>Jacqueline is a student at Carnegie Mellon University. Unfortunately, this company does not actually exist as this website is simply a project for a class but if you find that you have strong desires to buy bread after visiting this website please contact the webmaster using the contact information above. She has aspirations to start her own company and would love your feedback if creating an express bread company would be a viable option!</p>
			
			<p>&nbsp;</p>
			<p>&nbsp;</p>
	</div>
</div>