<%= render partial: "address_list", locals: {addresses: @active_addresses, state: 'active'} %>
&nbsp;
<div class="center">
	<a class="waves-effect waves-light btn" href="/addresses/new" align="center">Add a New Address</a>
</div>