/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome.min
 *= require simple_form
 *= require jquery-ui
 */

 @import "materialize";

.index-title{
	text-shadow:5px 5px 5px black;
}

.card-set-size{
	width: 200px;
	height: 400px;
}

.dashboard-icons{
	width: 150px;
	height: 130px;
	align: center;
}

.cart-summary{
	height: 100px;
}

.cart-header{
	h3{
		display: inline;
	}
	a{
		float: right;
		line-height: 50px;
	}
}

.item-image{
	width: 180px;
	height: 200px;
}

.main-title{
	font-weight: 500;
}